.form {
    display: flex;
    flex-direction: column;
    border: indigo;
    border-style: solid;
    border-width: 2px;
    padding: 10px 50px;
  }
  
  .form__paragraph {
    padding: 20px 0px;

  }
  
  .form__button {
    width: 100%;
    padding: 10px 3px;
    border-style: solid;
    border-width: 2px;
    border-color: indigo;
    font-weight: bolder;
    background-color: white;
  }
  
  .form__button:visited {
    border-style: solid;
    border-width: 2px;
    border-color: indigo;
  }
  
  .form__button:hover {
    background-color: indigo;
    border-style: none;
    color: white;
  }
  
  .form__select {
    padding: 2px 5px;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
    
  }
  
  .form__unorderedList {
    list-style-type: none;
  }